packages:
  yum:
#    adobe-flashplugin: [] !
#    build-essential: []
#    firefox: [] !
    git: []
    htop: []
#    libboost-python-devel: []
    libffi-devel: []
#    libjpeg-de: []
    libjpeg-turbo: []
#    libleveldb-dev: []
#    libleveldb1: []
#    libleveldb1v5: []
#    libssl-devel: []
    openssl-devel: []
    libxml2-devel: []
    libxslt-devel: []
#    python-devel: []
#    python-pip: []
#    xvfb: []
