container_commands:
#  00migrate:
#    command: "python manage.py migrate"
#    leader_only: true
  01pip:
    command: "sudo wget https://bootstrap.pypa.io/get-pip.py"
    command: "sudo -H python get-pip.py"
    command: "sudo rm get-pip.py"
    command: "sudo pip install -U -r OpenWPM/requirements.txt"
#  02pip:
#    command: "sudo pip install -U -r requirements.txt"
#  03pip:
#    command: "sudo pip install -U -r OpenWPM/requirements.txt"
#  04canonical:
#    command: "sudo sh -c 'echo \"deb http://archive.canonical.com/ubuntu/ trusty partner\" >> /etc/apt/sources.list.d/canonical_partner.list'" #WARNING!!!
  05firefox:
    command: "FIREFOX_VERSION=52.4.0esr"
    command: "sudo wget https://ftp.mozilla.org/pub/firefox/releases/${FIREFOX_VERSION}/linux-$(uname -m)/en-US/firefox-${FIREFOX_VERSION}.tar.bz2"
    command: "sudo tar jxf firefox-${FIREFOX_VERSION}.tar.bz2"
    command: "sudo rm -rf firefox-bin"
    command: "sudo mv firefox firefox-bin"
    command: "sudo rm firefox-${FIREFOX_VERSION}.tar.bz2"
  06geckodriver:
    command: "GECKODRIVER_VERSION=0.15.0"
    command: "GECKODRIVER_ARCH=linux64" #WARNING!!!
    command: "sudo wget https://github.com/mozilla/geckodriver/releases/download/v${GECKODRIVER_VERSION}/geckodriver-v${GECKODRIVER_VERSION}-${GECKODRIVER_ARCH}.tar.gz"
    command: "sudo tar zxf geckodriver-v${GECKODRIVER_VERSION}-${GECKODRIVER_ARCH}.tar.gz"
    command: "sudo rm geckodriver-v${GECKODRIVER_VERSION}-${GECKODRIVER_ARCH}.tar.gz"
    command: "sudo mv geckodriver firefox-bin"
  07run:
    command: "python OpenWPM/demo.py"
